div {
	position: absolute;
	top:30%;
	left:30%;
	width:600px;
	height:400px;
	background:red;
}

body
{
	background-image:url("weighingmachine.jpg");
	background-size:400px 400px;
}

#bleh
{
	position:relative;
	float: right;
	padding-right: 50px;
}
#weight
{
	position:relative;	
	margin-top:50px;
	margin-left:20px;
}

p
{
	margin-left:20px;
	color: yellow;
	
}
#height
{
	position:relative;
	margin-top:50px;
	margin-left:20px;
}

button
{
	position:relative;
	margin-top:40px;
	margin-left:20px;
	border-radius:20px;
	text-decoration:bold;
}

h1
{
	position:relative;
	margin-left:20px;
}